<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Answer</title>
</head>
<body>
  <h2>Stupid Coaching answer</h2>
  <p><strong>You:</strong></p>
  <%= @question %>
  <br>
  <p><strong>Your coach:</strong></p>
  <%= @answer %>
  <br>
  <br>
  <%= link_to "Continue conversation", ask_path %>
</body>
</html>